body {
    display: flex;
    flex-direction: column;
}

#top {
    margin-bottom: 150px;
}

#bottom {
    display: flex;
    justify-content: space-between;
    background-color: l;
}

#bottom #left {
    display: flex;
    flex-direction: column;
}

#content {
    font-weight: bolder;
    margin-top: 75px;
}

#bottom #mid {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

#bottom #right {
    display: flex;
    flex-direction: column;
}